@{
    ViewData["Title"] = "Welcome ";
}

<div class="container text-center">
    <h1 class="display-4 mt-5">Welcome to the School Management System</h1>
    <p class="lead">Manage your school efficiently with our powerful system.</p>

    <div class="display-4 mt-5">
        <img src="https://i.pinimg.com/564x/c0/77/1d/c0771d2cd5e656cb035981e915959428.jpg" alt="School Management System Image" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
    </div>

    <div class="mt-5">
        <p>Learn more about our features and how we can help streamline your school's operations.</p>
        <a href="#" class="btn btn-lg btn-info">Get Started</a>
    </div>

    <div class="mt-5">
        <p class="btn btn-lg btn-info"> <strong>@ViewBag.CurrentDateTime</strong></p>
    </div>
</div>
